*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 0.5fr;
    gap: 1.5%;
    color: whitesmoke;
    background: linear-gradient(111.5deg, rgb(1, 43, 95) 0.4%, rgb(1, 81, 124) 100.2%);
}

.header{
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
}

#name1,
#name2,
.re{
    display: flex;
    justify-content: center;
    align-items: center;
}

#name1,
#name2{
    font-size: 500%;
}

.re{
    font-size: 200%;
    font-weight: 600;
    color: #0f172a;
    border-radius: 5px;
}

#restart{
    color: #0f172a;
    background-color: #a5f3fc;
}

#restart:hover{
    color: rgb(1, 81, 124);
    background-color: #f0fdfa;
}

.highlight{
    border: 2px solid #a5f3fc;
    border-radius: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.matrix{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.divi{
    border: 2px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    color: white;
    font-size: 700%;
}

dialog{
    margin: auto;
    width: 25%;
    height: 50%;
    background-color: #14b8a6;
    color: #f0fdfa;
    font-size: 200%;
    font-weight: 600;
    border: none;
    border-radius: 12px;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 5px;
    border: 1px solid #f0fdfa;
}

input{
    border: none;
    border-radius: 5px;
    /* height: 90%; */
    font-size: 90%;
}

::backdrop{
    background: linear-gradient(111.5deg, rgb(65, 214, 202) 0.4%, rgb(106, 240, 229) 100.2%);
    opacity: 1;
}

button{
    padding: 1%;
    width: 30%;
    font-size: 90%;
    font-weight: 400;
    color: #14b8a6;
    background-color: #f0fdfa;
    border-radius: 5px;
    border: none;
}

button:hover{
    color: #0f172a;
    background-color: #bbf7d0;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
}