*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 0.5fr;
    color: whitesmoke;
    background-color: black;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.name1,
.name2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.matrix{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.divi{
    border: 2px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    color: white;
    font-size: 700%;
}

dialog{
    margin: auto;
    width: 350px;
    height: 350px;
    background-color: #f8fafc;
    color: #0f172a;
    font-size: larger;
    font-weight: 600;
    border-radius: 12px;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 5px;
}

input{
    height: 40px;
    font-size: larger;
}

::backdrop{
    background-color: #666;
    opacity: 1;
}

button{
    font-size: larger;
    font-weight: 600;
    color: #0f172a;
    border-radius: 5px;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
}